$crvena : #6C331F;
$tamnija : rgb(49, 49, 49);
$svjetlija : rgb(199, 199, 199);
#app {
	font-family: 'Avenir', Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: $tamnija;
	position: relative;
	color:white;
	
}
nav {
	padding-top: 1em;
	z-index: 13;
	li {
		font-weight: bold;
	}
}
footer {
	padding-top: 100px;
}
.red {
	background-color: $crvena;
}
.redText {
	color: $crvena !important;
}
.svjetlija {
	background-color: $svjetlija;
}

.header {
	height: 100vh;
	background: rgba(0, 0, 100, 0.3);
	z-index: 3;
	position: relative;
	display: flex;
	section{
		margin-top: 10vw;
		margin-left: 3rem;
	}
}

.video-background{
	position: absolute;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
}

@media (min-aspect-ratio:16/9)
{
	.video-background
	{
		width: 100%;
		height: auto;
	}
}
@media (max-aspect-ratio:16/9)
{
	.video-background
	{
		height: 100%;
		width: auto;
	}
}
#overlay {
	width: 100vw;
	height: 100vh;
	background: rgba(0, 0, 0, 0.55);
	position: absolute;
	z-index: 10;
}
#naslov {
	z-index:20;
	position: absolute;
	bottom: 25vh;
	left:10vw;
	h1 {
		color:$crvena;
	}
}
blockquote{
	width:50%;
}
.slika-text {
	background-image:url("assets/JPEG/isap.jpg");
	background-position: center;
	background-repeat: no-repeat;
	position: relative;
  }
.is-8 .column:nth-child(2) .slika-text{
	background-image:url("assets/JPEG/isap_prsut.jpg");
}
.text-slika {
	position: absolute;
	bottom: 0;
	right: 0;
	left:0;
	height: 0;
	text-align: center;   
	font-size: 3rem;
	background: rgba(0, 0, 0, 0.7);
	transition: height 0.7s ease-out;
	h4{
		line-height: 0;
		}
	button {
		margin-top: 15%;
		opacity: 0;
		transition: opacity 0.2s ease-in 0.2s;
	}
}

.slika-text:hover > .text-slika {
	height: 50%;
}
.slika-text:hover > .text-slika button {
	opacity:1;
}

  